<ion-content class="container-todo" fullscreen="true">
  <div class="container-content">

    <!-- Header -->
    <div class="header">
      <img src="../../../assets/icon/Tinderlogo.png" alt="Tinder Logo" />
      <ion-title>Welcome</ion-title>
      <h3>Please follow the house rules</h3>
    </div>

    <!-- Content -->
    <div class="content">
      <div class="item">
        <h2>Be yourself</h2>
        <h4>Make sure your photos, age and bio are true to who you are.</h4>
      </div>

      <div class="item">
        <h2>Stay safe</h2>
        <h4>Don't be too quick to give out personal information.</h4>
      </div>

      <div class="item">
        <h2>Play it cool</h2>
        <h4>Respect others and treat them as you would like to be treated.</h4>
      </div>
    </div>

    <!-- Button -->
    <div class="button">
  <app-button value="I Agree" (click)="agree()"></app-button>
</div>

  </div>
</ion-content>