<div class="user-card">
  <div class="photo" *ngIf="data.photo; else noPhoto">
    <img [src]="data.photo" [alt]="data.name" />
  </div>
  <ng-template #noPhoto>
    <div class="photo placeholder">
      <span class="placeholder-icon">No image</span>
    </div>
  </ng-template>

  <div class="info">
    <h3 class="name">
      {{ data.name }}
      <span class="age" *ngIf="data.age !== null">{{ data.age }}</span>
    </h3>
    <div class="gender" *ngIf="data.gender">{{ data.gender }}</div>
  </div>
</div>
