<ion-tabs>
  <ion-tab tab="home">
    <ion-header>
      <ion-toolbar>
        <div class="toolbar-brand">
          <img class="brand-logo" src="assets/icon/Tinderlogo.png" alt="Tinder" />
          <span class="brand-name">tinder</span>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="home-feed-content">
      <div class="home-feed">
        <ng-container *ngIf="profiles?.length; else emptyState">
          <swiper-container loop="true" slides-per-view="1" centered-slides="true" auto-height="true" space-between="12">
            <swiper-slide *ngFor="let p of profiles">
              <ion-card class="card-slide">
                <app-card [profile]="p"></app-card>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </ng-container>
        <ng-template #emptyState>
          <div class="example-content">No hay perfiles para mostrar aún.</div>
        </ng-template>
      </div>
    </ion-content>
  </ion-tab>
  
  <ion-tab tab="chat">
    <ion-header>
      <ion-toolbar>
        <ion-title>Chat</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="example-content">Chat content</div>
    </ion-content>
  </ion-tab>

  <ion-tab tab="user">
    <ion-header>
      <ion-toolbar>
        <div class="toolbar-brand">
          <img class="brand-logo" src="assets/icon/Tinderlogo.png" alt="Tinder" />
          <span class="brand-name">tinder</span>
          <span class="user-title">{{ editForm.value['name'] || 'User' }}</span>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="home-edit" [scrollY]="false" fullscreen="true">
      <div class="center-wrap">
        <ion-card class="edit-card">
          <ion-card-header>
            <ion-card-title>Edit profile</ion-card-title>
            <ion-card-subtitle>Update your basic information</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="editForm" (ngSubmit)="saveProfile()">
              <ion-list lines="none">
                <ion-item>
                  <ion-label position="stacked">First name</ion-label>
                  <ion-input formControlName="name" placeholder="Your first name"></ion-input>
                </ion-item>
                <div class="field-error" *ngIf="editForm?.controls?.['name']?.touched && editForm?.controls?.['name']?.invalid">
                  Please enter a valid first name.
                </div>

                <ion-item>
                  <ion-label position="stacked">Last name</ion-label>
                  <ion-input formControlName="lastName" placeholder="Your last name"></ion-input>
                </ion-item>
                <div class="field-error" *ngIf="editForm?.controls?.['lastName']?.touched && editForm?.controls?.['lastName']?.invalid">
                  Please enter a valid last name.
                </div>

                <ion-item>
                  <ion-label position="stacked">Gender</ion-label>
                  <ion-select formControlName="gender" interface="popover">
                    <ion-select-option value="man">Man</ion-select-option>
                    <ion-select-option value="woman">Woman</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">Hobbies</ion-label>
                  <ion-input formControlName="interests" placeholder="Comma-separated: music, travel, ..." type="text"></ion-input>
                </ion-item>
              </ion-list>

              <div class="photos-manager">
                <div class="pm-header">
                  <h4>Photos</h4>
                  <input hidden type="file" accept="image/*" #fileInput (change)="onFilePicked($event)" />
                </div>
                <div class="pm-grid">
                  <div class="pm-item" *ngFor="let url of myPhotos; let i = index">
                    <img [src]="url" alt="photo" />
                    <button type="button" class="pm-del" (click)="onDeletePhoto(i)">✕</button>
                  </div>
                  <div class="pm-item add" (click)="onAddPhoto()">
                    <span>+</span>
                  </div>
                </div>
              </div>

              <div class="actions">
                <ion-button expand="block" type="submit" [disabled]="isSaving" color="primary">
                  <ion-spinner slot="start" *ngIf="isSaving"></ion-spinner>
                  {{ isSaving ? 'Saving…' : 'Save changes' }}
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-toast
        [isOpen]="saveToastOpen"
        (didDismiss)="saveToastOpen = false"
        [message]="saveToastMessage"
        [color]="saveToastColor"
        duration="2200"
        position="top"
        icon="checkmark-circle">
      </ion-toast>
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom" class="floating-tab-bar">
    <ion-tab-button tab="chat">
      <ion-icon name="chatbox"></ion-icon>
      Chat
    </ion-tab-button>
    <ion-tab-button tab="home" class="home-tab">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      User
    </ion-tab-button>
    <ion-tab-button (click)="onLogout()" routerDirection="root">
      <ion-icon name="exit"></ion-icon>
      Log Out
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>