<ion-tabs>
  <ion-tab tab="home">
    <ion-header>
      <ion-toolbar>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="home-feed">
        <ng-container *ngIf="profiles?.length; else emptyState">
          <swiper-container loop="true" slides-per-view="1" centered-slides="true" auto-height="true" space-between="12">
            <swiper-slide *ngFor="let p of profiles">
              <ion-card class="card-slide">
                <app-card [profile]="p"></app-card>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </ng-container>
        <ng-template #emptyState>
          <div class="example-content">No hay perfiles para mostrar aún.</div>
        </ng-template>
      </div>
    </ion-content>
  </ion-tab>
  
  <ion-tab tab="chat">
    <ion-header>
      <ion-toolbar>
        <ion-title>Chat</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="example-content">Chat content</div>
    </ion-content>
  </ion-tab>

  <ion-tab tab="user">
    <ion-header>
      <ion-toolbar>
        <ion-title>User info</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="example-content">User content</div>
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom" class="floating-tab-bar">
    <ion-tab-button tab="chat">
      <ion-icon name="chatbox"></ion-icon>
      Chat
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      User
    </ion-tab-button>
    <ion-tab-button (click)="onLogout()" routerDirection="root">
      <ion-icon name="exit"></ion-icon>
      Log Out
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>