<ion-tabs>
  <ion-tab tab="home">
    <ion-header>
      <ion-toolbar>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="example-content">Home content</div>
    </ion-content>
  </ion-tab>
  
  <ion-tab tab="chat">
    <ion-header>
      <ion-toolbar>
        <ion-title>Chat</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="example-content">Chat content</div>
    </ion-content>
  </ion-tab>

  <ion-tab tab="user">
    <ion-header>
      <ion-toolbar>
        <ion-title>User info</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="example-content">User content</div>
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom" class="floating-tab-bar">
    <ion-tab-button tab="chat">
      <ion-icon name="chatbox"></ion-icon>
      Chat
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      User
    </ion-tab-button>
    <ion-tab-button tab="exit">
      <ion-icon name="exit"></ion-icon>
      Log Out
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>